#bigsquare{
background-color: chartreuse;
width: 800px;
height: 800px; 
transition:transform 2s ease-in-out 1s;
}
#Square1{ 
position: relative;  
background-color: darkred;
width: 200px;
height: 200px; 
transition:transform 2s;
}
#bigsquare:hover #Square1{
    transform: translateX(200%);
   
}
#Square2{ 
position: relative;  
background-color:darkorange;
width: 200px;
height: 200px; 
}